* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit' ,sans-serif;
    padding: 1rem;
}
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1.5rem;
    width: 400px;
}
.image img{
    width: 100%;
    border-radius: 10px;
}
.text{
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
}
p{
    font-size: 15px;
    margin-top: 1.5rem;
}
